In [1]:
import sys
print(sys.executable)

/home/user/PySpark/.venv/bin/python

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, max, col

In [3]:
from pyspark.sql.functions import avg, max, col

# Start Spark session
spark = SparkSession.builder \
    .appName("Spark SQL Test") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/04 21:25:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/05/04 21:25:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
# Sample data with more details
data = [
    ("Alice", 21, "Engineer", 50000),
    ("Bob", 30, "Manager", 80000),
    ("Charlie", 25, "Analyst", 60000),
    ("David", 35, "Engineer", 70000),
    ("Eve", 28, "Manager", 90000),
    ("Frank", 40, "Analyst", 75000),
]

# Create DataFrame with schema
df = spark.createDataFrame(data, ["name", "age", "job", "salary"])

# Register as SQL table
df.createOrReplaceTempView("people")

In [5]:

# 1. Select names and jobs of people older than 25
result1 = spark.sql("SELECT name, job FROM people WHERE age > 25")
print("People older than 25:")
result1.show()

People older than 25:

+-----+--------+
| name|     job|
+-----+--------+
|  Bob| Manager|
|David|Engineer|
|  Eve| Manager|
|Frank| Analyst|
+-----+--------+

In [6]:
# 2. Calculate the average salary
result2 = spark.sql("SELECT AVG(salary) FROM people")
print("Average salary:")
result2.show()

Average salary:

+-----------------+
|      avg(salary)|
+-----------------+
|70833.33333333333|
+-----------------+

In [7]:
#3. using dataframe API
df.groupBy("job").agg(avg("salary").alias("average_salary"), max("salary").alias("max_salary")).show()

+--------+--------------+----------+
|     job|average_salary|max_salary|
+--------+--------------+----------+
| Analyst|       67500.0|     75000|
|Engineer|       60000.0|     70000|
| Manager|       85000.0|     90000|
+--------+--------------+----------+

In [8]:
# Stop Spark
spark.stop()